nextflow.enable.dsl=2

process {
  withName:assembly{
    cpus = 4 
    memory = 16G
    container = 'file:///scicomp/groups/OID/NCEZID/DFWED/EDLB/projects/validation/mlstComparison/src/Kessel-run/containers/shovill-v1.1.0.cif'
  }
  withName:callAlleles{
    cpus = 16
    container = 'file:///scicomp/groups/OID/NCEZID/DFWED/EDLB/projects/validation/mlstComparison/src/Kessel-run/containers/chewbbaca-v2.8.4-1.cif'
  }
}

singularity {
  enabled = true
  autoMounts = true
}

