nextflow.enable.dsl=2

process {
  withName:assembly{
    cpus = 4 
    memory = 16G
    //container = 'file:///scicomp/groups/OID/NCEZID/DFWED/EDLB/projects/validation/mlstComparison/src/Kessel-run/containers/shovill-v1.1.0.cif'
    conda = '/scicomp/home-pure/gzu2/bin/anaconda3/envs/shovill'
  }
  withName:callAlleles{
    cpus = 16
    container = 'file:///scicomp/groups/OID/NCEZID/DFWED/EDLB/projects/validation/mlstComparison/src/Kessel-run/containers/chewbbaca-v2.8.4-1.cif'
    // each fork copies a whole MLST database and so this
    // is to be nice to your hard drive
    maxForks = 10
  }
}

singularity {
  enabled = true
  autoMounts = true
}

